html,
button,
input,
select,
textarea {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #FD8E25;
	font-weight: bold;
}

a:hover {
	color: #FFC145;
}

#header {
	height: 41px;
	background: #19A89D;
}

#header img {
	width: 150px;
	margin: 0px auto;
	display: block;
	padding: 7px 0px;
}

#map { 
  height: 230px; 
  width:100%; 
}

#housinginfo{ 
  padding:10px;
}
#housinginfo h4{ 
  margin:0px 0px;
}

#housinginfo em{ 
  font-weight:bold;
  font-style:normal;
}
#housinginfo div {
	padding: 8px 0px;
}

#housinginfo span {
	font-weight: bold;
}

#housinginfo .address span {
	font-size: 20px;
	line-height: 23px;
}

/* overrides Safari from making the the text field and button round */
input {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

#addressentry { 
  padding: 10px 0 10px 10px;
	background: #eee;
}

#address { 
  width:80%;
	padding: 6px 0px;
	border: none;
}

#submitaddress { 
  width:50px;
  height:32px;
  margin-left:5px;
  background: #FD8E25;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	padding: 0px;
}

#submitaddress:hover {
	background: #FFC145;	
}

::-webkit-input-placeholder {
  font-style: italic;
  padding-left: 5px;
}

:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
  margin-left: 5px;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-style: italic;
  margin-left: 5px;
}

:-ms-input-placeholder {  
  font-style: italic;
  margin-left: 5px;
}

#sampleaddresses {
	font-size: 12px;
	font-style: italic;
	padding: 0 20px;
}

#sampleaddresses p {
	margin-top: 5px;
}

#about {
	padding: 0 20px 20px;
}

#about h3 {
	margin-bottom: 12px;
}

#about p {
	margin: 0px 0px 15px;
}
